body {
  font-family: Arial, sans-serif;
  background-color: #d5eafc;
  margin: 0;
  padding: 0;
}

#app_container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

input[type="text"] {
  width: 95%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 2px dashed #aaa;
  border-radius: 6px;
  cursor: pointer;
}

#info {
  margin-top: 20px;
}

#result {
  display: flex;
  flex-wrap: wrap;
}

#result h3 {
  width: 95%;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

#encode_result,
#decode_result {
  width: 100%;
  margin-right: 5%;
}

#encode_result img,
#decode_result img {
  max-width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

/* Style untuk gambar yang dibuka dengan viewer.js */
.viewer-container img {
  max-width: none;
  box-shadow: none;
  border-radius: 0;
}
